@page "/Details"
@page "/Details/{TecnicoId:int}"
@inject TecnicoService tecnicoService
@inject NavigationManager navigationManager
@inject IJSRuntime ijsRuntime
@rendermode InteractiveServer

<h3>Detalle de Tecnico</h3>

<a href="Create" class="btn-link" @onclick="() => Nuevo()">
    <span>Agregar Nuevo Tecnico <i class="bi bi-file-earmark-plus-fill" /></span>
</a>


<div class="table-responsive mt-3">
    <table class="table table-striped table-bordered">
        <thead>
            <tr bgcolor="#6962AD">
                <th>TecnicoId</th>
                <th>Descripci&oacute;n</th>
                <th>D&iacute;asCompromiso</th>
                <th>Editar</th>
                <th>Eliminar</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Lista_De_Tecnicos)
            {
                <tr>
                    <td>@item.TecnicoId</td>
                    <td>@item.Descripcion</td>
                    <td>@item.DiasCompromiso</td>
                    <td>
                        <a href="/Edit/@item.TecnicoId">
                            <i class="bi bi-pencil-square" style="font-size: 1.5em;"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/Delete/@item.TecnicoId" class="link-danger">
                            <i class="bi bi-trash" style="font-size: 1.5em;"></i>
                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public int TecnicoId { get; set; }
    public Tecnicos prioridad { get; set; } = new Tecnicos();
    public int filtro { get; set; }
    public List<Tecnicos> Lista_De_Tecnicos { get; set; } = new List<Tecnicos>();
    public bool Encontrado { get; set; } = false;


    protected override void OnInitialized()
    {
        Lista_De_Tecnicos = tecnicoService.Listar(lp => true);

    }
    public void Buscar()
    {
        Lista_De_Tecnicos = tecnicoService.Listar(lp => lp.TecnicoId == filtro);
        if (Lista_De_Tecnicos.Count == 0)
        {
            Encontrado = true;
        }
        else
        {
            Encontrado = false;
        }
    }

    public void Nuevo()
    {
        Lista_De_Tecnicos = tecnicoService.Listar(lp => true);
    }
}
